<div class="container">
	<div class="page-header">
		<h2>Book of Mormon n-grams</h2>
	</div>

    <p>Enter a three to five word phrase to see the number of occurrences for that phrase.</p>
    <form role="form" class="form-inline">
		<div class="form-group">
			<input type="text" class="form-control input-lg" id="q" name="q" placeholder="and thus we see" value="<%= @query %>"/>
		</div>
		<button type="submit" class="btn btn-primary">Search</button>
	</form>

	<div class="container" style="<%= @query ? '' : 'display: none;' %>">
		<h3>Occurrences</h3>
		<% @scores.each do |term, score| %>
			<div><em><%= term %></em> appears <%= pluralize(score, 'time')  %></div>
		<% end %>
    </div>
    
    <div class="container">
        <div><strong>Three word ngrams:</strong> <%= number_with_delimiter(@counts["3"].to_i) %></div>
        <div><strong>Four word ngrams:</strong> <%= number_with_delimiter(@counts["4"].to_i) %></div>
        <div><strong>Five word ngrams:</strong> <%= number_with_delimiter(@counts["5"].to_i) %></div>
    </div>
</div>
